<p>First name: <%= @student.first_name %></p>
<p>Last name: <%= @student.last_name %></p>
<p>Age: <%= @student.age %></p>
<p>House: <%= @student.house.name %></p>


<form method="get" action="/students/<%=@student.id%>/edit">
  <input type="submit" value="Edit student">
</form>
